body{
	font-family:'Envy Code R';
}
#tit{
	color:rgb(74,246,38);
	text-align:center;
}
#lk{
	margin-left:38%;
}
#lk img{
	margin-left:2%;
	width:5%;
	height:5%;
}
a{
	text-decoration:none;
}
#container{
	margin:0;
	width:100%;
}
@font-face {
    font-family: 'Envy Code R';
    src: url('EnvyCodeR.woff2') format('woff2'),
        url('EnvyCodeR.woff') format('woff'),
        url('EnvyCodeR.ttf')format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
